<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex,nofollow" />
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
  <title>Ok Win</title>
  
  
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/modules-3ee1a0d5.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/native/index-09743dd6.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/en-cff984dc.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/rus-ecb14220.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/vi-edb4f658.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/id-16b6cb52.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/hd-c5b1d7e8.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/tha-330057b2.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/md-e8a5e3b0.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/bra-e19d7dd2.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/my-32fb9d60.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/bdt-d8f19d0c.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/zh-116b9972.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/pak-656a575f.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/ar-1c9ff85b.js"> 
  <link rel="modulepreload" crossorigin="" href="https://91club06.com/assets/js/page-activity-b0cc3a5b.js"> 
  <link rel="stylesheet" href="https://91club06.com/assets/css/modules-b642e9bc.css"> 
  <link rel="stylesheet" href="https://91club06.com/assets/css/page-activity-f0ca3544.css"> 
  <link rel="stylesheet" href="https://91club06.com/assets/css/index-37794937.css"> 
  <link rel="stylesheet" href="https://91club06.com/assets/css/reset-18dc7e67.css">
  <link rel="stylesheet" href="https://91club06.com/assets/css/reset-caf052b6.css">
  <link rel="stylesheet" href="https://91club06.com/assets/css/root-a9d5bd50.css">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/page-home-d40a6f97.js">
  <link rel="stylesheet" href="https://91club06.com/assets/css/page-home-384125d0.css">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/home-c399e427.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/activity-f120a1f9.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/promotion-cfd8aaa9.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/wallet-4bef7d62.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/main-1686ee63.js">
  <link rel="modulepreload" as="script" crossorigin="" href="https://91club06.com/assets/js/page-login-95ed0718.js">
  <link rel="stylesheet" href="https://91club06.com/assets/css/page-login-c969a7dc.css">
 
  
  
  
  
  <link rel="stylesheet" href="/tcl/bet/wingo/main.css" />
  <link rel="stylesheet" href="/tcl/bet/wingo/chunk-4e7d3985.25c9d2c0.css" />
  <link rel="stylesheet" href="/tcl/bet/wingo/chunk-4e7d3985.25c9d2c1.css" />
  <link rel="stylesheet" href="/tcl/bet/wingo/chunk-4e7d3985.25c9d2c2.css" />
  <link rel="stylesheet" href="/tcl/bet/wingo/chunk-4e7d3985.25c9d2c3.css" />
  <link rel="stylesheet" href="/tcl/bet/wingo/chunk-4e7d3985.25c9d2c4.css" />
  <link rel="shortcut icon" href="/index_files/Images/logo_500.png" type="image/x-icon">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #090909;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }
  </style>

      <style>
        /* The Modal (background) */
        .modal {
            display: blocked; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 20001; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
        }
        .text-over-image {
            position: absolute; /* Position relative to the parent element */
            top: 35%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Adjust the positioning */
            color: #fff; /* Text color */
            font-size: 24px; /* Text size */
            font-weight: bold; /* Text weight */
            text-align: center; /* Center text */
        }
        .text-over-image-l {
            position: absolute; /* Position relative to the parent element */
            top: 48%; /* Center vertically */
            left: 49%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Adjust the positioning */
            color: #fff; /* Text color */
            font-size: 10px; /* Text size */
            font-weight: bold; /* Text weight */
            text-align: center; /* Center text */
        }
        /* Modal Content */
        .modal-content {
            text-align: -webkit-center;
            position: relative;
            top: 20%;
        }
        .modal-content img {
            width: 280px; /* Use this to ensure the image is full width */
            height: auto; /* Adjust height automatically */
            display: block; /* Change display to block to avoid extra space */
        }
        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        /* Circle button style */
        .close-btn {
            border: 2px solid #fff; /* Black border */
            border-radius: 50%; /* Circle shape */
            background-color: transparent; /* Transparent background */
            width: 30px; /* Width and height should be equal for a circle */
            height: 30px; /* Width and height should be equal for a circle */
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-top: 10px;
        }

        .close-btn:hover {
            background-color: #ddd; /* Light grey background on hover */
        }

        /* "X" line style */
        .close-x {
            font-size: 35px; /* Large font size for the "X" */
            font-family: none;
            line-height: 1; /* Tight line height for the "X" */
            color: #fff; /* Black color for the "X" */
            padding: 0; /* No padding */
            margin: 0; /* No margin */
        }
        .text-over-image-2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
 .text-over-image-3 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8c4500;
    font-size: 12px;
    font-weight: none;
    text-align: center;
}
.btn-boox {
        background: linear-gradient(to bottom, #20d90a, #aae69d);
        border: none;
        color: white;
        padding: 5px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 4px 4px;
        cursor: pointer;
        font-family: monospace;
        border-radius: 5px; 
}
    </style>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>Ok Win</title>
  <link rel="stylesheet" href="/5d/css/chunk3.css" />
  <link rel="stylesheet" href="/5d/css/main.css" />
  <link rel="stylesheet" href="/5d/css/chunk1.css" />
  <link rel="stylesheet" href="/5d/css/chunk2.css" />
  <link rel="shortcut icon" href="/index_files/Images/logo_500.png" type="image/x-icon">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #9195a3;
      padding: 0;
      margin: 0;
    }

    .slot-column {
      margin-right: 0 !important;
    }

    .block-click {
      pointer-events: none;
    }

    #result {
      display: none;
    }

    .display-none {
      display: none;
    }
  </style>
</head>

<body style="font-size: 12px;">
  <div id="app">
    <div data-v-42f27458="" class="mian game">
      <div data-v-106b99c8="" data-v-a9660e98="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-a9660e98="" data-v-106b99c8="" height="38px" width="100px" src="/index_files/logo-white.png" class="logo"
              style="height: .80333rem!important;" />
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-a9660e98="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center"
              onclick="location.href='/keFuMenu'">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio" />
            </div>
            <div data-v-a9660e98="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-a9660e98="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume" />
            </div>
          </div>
        </div>
      </div>
      <!---------->
      <div data-v-a9660e98="" class="game-head">
        <div data-v-a9660e98="" class="total-box" style="margin-top:15%;">
          <div data-v-a9660e98="" class="c-row c-row-between c-row-middle info">
            <div data-v-a9660e98="" class="c-row c-row-middle">
              <div data-v-a9660e98="" class="num">
                <!----><span data-v-a9660e98="">₹ 0.00 </span>
              </div>
              <img data-v-a9660e98="" style="width: 20px; height: 20px;margin-left:2px;"
                onclick="alertMess('Refresh Successfully', this, 'success')"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAAOVBMVEUAAACjo6OgoKCjo6OhoaGjo6Ofn5+np6ejo6Ojo6OlpaWioqKkpKSjo6Ojo6Ojo6Ojo6OkpKSjo6PuE3LfAAAAEnRSTlMAf0C/H98QIM/vMGCfj29Qr1+b1SuLAAAA4UlEQVQ4y+3Sy3aEIBBF0eJR8hCx+/7/x8amdCVCZYUMetZnpm4BBfr05hbblX+lEX2pBJ1uUDKTK1ojUGgyA2z/sHmcbVetG4YNDHBQaEXqxjykbj3gbzceSIdUbUcN8ARyQlz+oBUwHqC7dTF8000ehISNXpQsflh5T6gBrHw8L0JpBR6nlDmE7ucOZ7CnRsVe9AVio4GvAexCjcqFPaG8Vw6a27RXQrvEAg7sh189VNHa7/sFWP24AEY5F0qri3VcVwo0GYNnbU7g56xlgIvp0mfyBWNMer4W11Xp03v7Att9D7xKb3uAAAAAAElFTkSuQmCC">
            </div>
            <div data-v-a9660e98="" class="c-row c-row-middle">
              <div data-v-a9660e98="" class="m-r-10">
                <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                  <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAAAe1BMVEUAAAD/P1T/PlP/9C3/R2T/Hzr/Ijv/Jz7/IDr/Mk7/O1L/Hzr/O1L/Nk7/Qlj/Qlz/IDr/PVP/ITv/Ij3/Hzr/PFL/1DL/8i//Ijz/O1L/8yv/Hzr/rjr/xTX/3C//6C3/aUj/ojz/Uk3/Xkr/lz7/RlD/dUb/hkH/0TJEpa1CAAAAGXRSTlMAYWKgE++BQsAi7+DbUkIysKCRcd/AwGJhd8HDxwAAARFJREFUWMPt1ElvgzAQhmHS2kAIS5ZueMAQyPb/f2E1VavK0OaQ+Q6RMu/JFz+yzOBI0/5uieVMbGOkl6yIrMFxKXFbEGe29F0C8WJLP6Wgy/utEI9KSkEvRjgqNE00OjtLs+xSNirz1rde3pr+KbnxP5tBktH5WNGVdtdOsslqQdlm+onyWthr6JW1uCoAF3LwSUEFFVRQQQjYN96FPUvAsWUCB46dg4IDe0iwdViwd2Bw77jD6exBYPvl8VGR4MgrjwEb3t7zqsOAZ95+GfgyMeDRcV3bOQwYnAwDHj0S5IYLFOQOHgpyp30T9PZ+Zy+2ggoqeI9gIQfLADSZ1MtNFFTlMi+rokmmXAgqTKQ9UJ9lIW92vx/DqgAAAABJRU5ErkJggg=="
                    class="van-image__img wallimg" />
                </div>
              </div>
              <div data-v-a9660e98="">
                <span>Wallet</span>
                <span>Balance</span>

              </div>
            </div>

          </div>
          <div data-v-a9660e98="" class="total-btn c-row c-row-between">
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/withdrawal'">
              <button data-v-a9660e98="" style="border-color: #5cba47;background: #5cba47;"
                class="btn van-button van-button--default van-button--normal van-button--block van-button--round">
                <div data-v-a9660e98="" class="van-button__content">
                  <span data-v-a9660e98="" class="van-button__text">
                    Withdraw
                  </span>
                </div>
              </button>
            </div>
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/recharge'">
              <button data-v-a9660e98=""
                class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="
        color: rgb(255, 255, 255);
        background: #f74747;
        border-color: #f74747;
      ">
                <div data-v-a9660e98="" class="van-button__content">
                  <span data-v-a9660e98="" class="van-button__text">
                    Deposit
                  </span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div data-v-a9660e98="" class="m-t-15 notice">
          <div data-v-a9660e98="" role="alert" class="van-notice-bar">
            <i class="van-icon van-icon-volume-o van-notice-bar__left-icon">
              <!---->
            </i>
            <div role="marquees" class="van-notice-bar__wraps">
              <div class="van-notice-bar__contents">OFFICIAL LINK: monsterclub.com  please make sure, to always use this links to login , dont use other link to login to avoid any fraud.  Thank you for your attention
                <br>1.All recharge methods only available in RECHARGE menu on OFFICIAL Monsterclub and application; 2.Submit 12 UTR number / UPI ref no for INSTANT recharge; 3. TC recharge account change everytime, DONOT SAVE to AVOID LOSS!!!<br>ATTENTION !! TC customer service only uses LIVECHAT available on our APPS / Website TC, apart from that ISNOT TC customer service, donot provide personal data and transactions to those acting on behalf TC games. Thank you
              </div>
            </div>
            <div class="details-mar">Details</div>
    </div>
    </div>
</div>

        <%- include('element/content.ejs') -%>
          <%- include('element/list_order.ejs') -%>
            <%- include('element/alert.ejs') -%>
              <!---->
              <div data-v-7692a079="" data-v-42f27458="" class="Loading c-row c-row-middle-center">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                  <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                    style="color: rgb(242, 65, 59);">
                    <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                      <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                    </svg>
                  </span>
                </div>
              </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
      integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
      crossorigin="anonymous"></script>
    <script src="/5d/js/main.js"></script>
     <script>
                $.ajax({
                    type: "GET",
                    url: "/api/webapi/GetUserInfo",
                    dataType: "json",
                    success: function (response) {
                        let user = response.data;

                        $('.moneyu').text("₹" + user.money_user + ".00");


                    }
                });

          


            </script>
</body>

</html>