<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Ok Win</title>
    <link href="/css/home/chunk-vendors.css" rel="stylesheet" />
	<link href="/css/home/app.css" rel="stylesheet" />
	<link rel="stylesheet" href="/asset0/css/modules-b642e9bc.css">
	<link rel="stylesheet" href="/asset0/css/page-activity-2987852d.css">
	<link rel="stylesheet" href="/asset0/css/page-home-694fe7ed.css">
	<link rel="stylesheet" href="/asset0/css/page-login-13ee2916.css">
	<link rel="stylesheet" href="/asset0/css/index-6bcd4b6d.css">
	<link rel="shortcut icon" href="/index_files/Images/logo_500.png" type="image/x-icon" />
	<link rel="modulepreload" as="script" crossorigin="" href="/asset0/js/page-main-af0f5c16.js">
	<link rel="stylesheet" href="/asset0/css/page-main-95655e29.css">
	
	<style>
	.bet-container .tab_item[data-v-1d8fbc24] {
    width: 2.53333rem;
    height: 1.33333rem;
    margin-inline: .06667rem;
    padding: 0;
    color: var(--text_color_L2) !important;
    border-radius: .13333rem;
    background: var(--bg_color_L2);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.bet-container .tab_active[data-v-1d8fbc24] {
    color: var(--text_color_L4) !important;
    background: var(--main_gradient-color);
}

 .dailySignIn__container .task-banner div[data-v-d7213382]{
        flex-direction:column;
    }
    
    
    .dailySignIn__container .task-banner .banner-content[data-v-d7213382]{
        font-size:12px;
    }
	
	</style>
	
	</head>

<body style="font-size: 12px;">

<div id="app" data-v-app="">
    <div data-v-12a80a3e="" data-v-cfff515d="" class="navbar"
        style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif;">
        <div data-v-12a80a3e="" class="navbar-fixed">
            <div data-v-12a80a3e="" class="navbar__content">
                <div data-v-12a80a3e="" class="navbar__content-left" onclick="window.history.back();"><svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m14 7l-5 5l5 5"/></div>
                <div data-v-12a80a3e="" class="navbar__content-center"><!--v-if-->
                    <div data-v-12a80a3e="" class="navbar__content-title">Activity details</div>
                </div>
                <div data-v-12a80a3e="" class="navbar__content-right"></div>
            </div>
        </div>
    </div>
    <div data-v-cfff515d="" class="active-container"
        style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif;"><img data-v-cfff515d="" class="banner"
            src="/index_files/poster-1.png">
        <div data-v-cfff515d="" class="active-box">
            <div data-v-cfff515d="" class="title">Become Agent Enjoy Luxury Rewards</div>
            <div data-v-cfff515d="">
                <p></p>
                <blockquote>Daman Offer Agents With Luxury Rewards</blockquote><br>
                <blockquote>After You Referral Someone And Meet The Requirement, You Need To Contact Your Teacher To
                    Receive The Corresponding Gold</blockquote><br>
                <blockquote>For More Details Visit Daman Website :<br><a href="http://Damantrade.online/"
                        target="_blank">http://Damantrade.online/</a></blockquote>
                <p></p>
            </div>
        </div>
    </div><!--online custom service-->
    <div class="customer" id="customerId"
        style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif; --f6a705e1-currentFontFamily: bahnschrift;">
        <img class="" data-origin="/assets/png/icon_sevice-9f0c8455.png" src="/assets/png/icon_sevice-9f0c8455.png">
    </div><!--v-if--><!----><!----><!--v-if--><!--v-if--><!----><!----><!----><!----><!----><!---->
</div>



           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function unsetCookie() {
            setCookie('token', '', 0);
            setCookie('auth', '', 0);
        }
        fetch('/api/webapi/GetUserInfo')
            .then(response => response.json())
            .then(data => {
                $('.Loading').fadeOut(100);
                if (data.status === false) {
                    unsetCookie();
                    return false;
                };
                $('.profile .name').text(data.data.name_user);
                $('.profile .id').text(data.data.id_user);
                $('.profile .number').text("+91 "+data.data.phone_user);
            });
    </script>
    <!---->
    <script>
        function alertMess(text) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
            }, 1000);
        }

        $('.food .item:eq(0)').click(function (e) { 
            e.preventDefault();
            $('.van-popup, .van-overlay').fadeOut(100);
        });
        $('.profile .item:eq(2)').click(function (e) { 
            e.preventDefault();
            $('.van-popup, .van-overlay').fadeIn(100);
        });
        $('.sure').click(function (e) { 
            e.preventDefault();
            let name = $('input').val().trim();
            if (!name) {
                let check = $('body .msg').length;
                if (check == 0) {
                    alertMess('Please enter your name');
                }
                return;
            }
            $.ajax({
                type: "PUT",
                url: "/api/webapi/change/userInfo",
                data: {
                    name: name,
                    type: 'editname',
                },
                dataType: "json",
                success: function (response) {
                    alertMess(response.message);
                    $('.van-popup, .van-overlay').fadeOut(100);
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                }
            });
        });
    </script>

</body>

</html>