<div data-v-a9660e98="" class="game-head">
    <div data-v-a9660e98="" class="total-box bg-color-l pb-5 rounded-2xl  flex flex-col justify-center items-center w-full">
        <div data-v-a9660e98="" class="c-row c-row-between c-row-middle info" style="display:flex;flex-direction:column;gap:0.33rem">
            
            <div data-v-a9660e98="" class="c-row c-row-middle" style="position:relative;left:0.33rem;">
                <div data-v-a9660e98="" class="num">
                    <span data-v-a9660e98="" style="color:#000000;">₹ 0.00 </span>
                </div>
                <div data-v-a9660e98="" class="van-image img m-l-10 reload_money" style="width: 15px; height: 15px">
                    <img src="/images/king.png" class="van-image__img" />
                </div>
            </div>
            <div data-v-a9660e98="" class="c-row c-row-middle">
                <div data-v-a9660e98="" class="m-r-10">
                    <div data-v-a9660e98="" class="van-image" style="width: 0.48rem; height: 0.48rem;vertical-align:bottom;">
                        <img src="/download.png" class="van-image__img" />
                    </div>
                    <span data-v-a9660e98="" class="wallet" style="vertical-align:bottom;">Wallet Balance</span>
                </div>
                
            </div>
        </div>
        <div data-v-a9660e98="" class="total-btn c-row c-row-between" style="padding-top:0.46667rem;">

            
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/recharge'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round text-base flex justify-center text-white items-center px-6 py-1 border-none font-bold red-linear rounded-full">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Deposit
                        </span>
                    </div>
                </button>
            </div>
            <div data-v-a9660e98="" class="item" onclick="location.href='/wallet/withdrawal'">
                <button data-v-a9660e98=""
                    class="btn van-button van-button--default van-button--normal van-button--block van-button--round text-base flex justify-center text-white items-center px-6 py-1 border-none font-bold bgs-green rounded-full">
                    <div data-v-a9660e98="" class="van-button__content">
                        <span data-v-a9660e98="" class="van-button__text">
                            Withdraw
                        </span>
                    </div>
                </button>
            </div>

        </div>
    </div>
    <div class="bg-color-l mt-5 p-2 items-center flex justify-between rounded-full"><svg stroke="currentColor"
    fill="currentColor" stroke-width="0" viewBox="0 0 576 512" class="color-blue-500" height="1em" width="1em"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M215.03 71.05L126.06 160H24c-13.26 0-24 10.74-24 24v144c0 13.25 10.74 24 24 24h102.06l88.97 88.95c15.03 15.03 40.97 4.47 40.97-16.97V88.02c0-21.46-25.96-31.98-40.97-16.97zm233.32-51.08c-11.17-7.33-26.18-4.24-33.51 6.95-7.34 11.17-4.22 26.18 6.95 33.51 66.27 43.49 105.82 116.6 105.82 195.58 0 78.98-39.55 152.09-105.82 195.58-11.17 7.32-14.29 22.34-6.95 33.5 7.04 10.71 21.93 14.56 33.51 6.95C528.27 439.58 576 351.33 576 256S528.27 72.43 448.35 19.97zM480 256c0-63.53-32.06-121.94-85.77-156.24-11.19-7.14-26.03-3.82-33.12 7.46s-3.78 26.21 7.41 33.36C408.27 165.97 432 209.11 432 256s-23.73 90.03-63.48 115.42c-11.19 7.14-14.5 22.07-7.41 33.36 6.51 10.36 21.12 15.14 33.12 7.46C447.94 377.94 480 319.54 480 256zm-141.77-76.87c-11.58-6.33-26.19-2.16-32.61 9.45-6.39 11.61-2.16 26.2 9.45 32.61C327.98 228.28 336 241.63 336 256c0 14.38-8.02 27.72-20.92 34.81-11.61 6.41-15.84 21-9.45 32.61 6.43 11.66 21.05 15.8 32.61 9.45 28.23-15.55 45.77-45 45.77-76.88s-17.54-61.32-45.78-76.86z">
    </path>
  </svg>
  <div class="rfm-marquee-container gray-50 text-sm"
    style="--pause-on-hover: running; --pause-on-click: running; --width: 100%; --transform: none;">
    <div class="rfm-marquee"
      style="--play: running; --direction: normal; --duration: 9.674728393554688s; --delay: 0s; --iteration-count: infinite; --min-width: 100%;">
      <div class="rfm-initial-child-container">
        <div class="rfm-child" style="--transform: none;">Welcome To Monsterclub If you need any help contact our Support
          team, Thanks.</div>
      </div>
    </div>
    <div class="rfm-marquee"
      style="--play: running; --direction: normal; --duration: 9.674728393554688s; --delay: 0s; --iteration-count: infinite; --min-width: 100%;">
      <div class="rfm-child" style="--transform: none;">Welcome To Monsterclub If you need any help contact our Support
        team, Thanks.</div>
    </div>
  </div><a class="flex items-center blue-linear rounded-full p-1 px-3" href="#/WinGo"><svg stroke="currentColor"
      fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-white mr-1" height="1em" width="1em"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15">
      </path>
    </svg> <span class="text-white fs-sm">Details</span></a>
</div>
</div>